* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
html {
    font-size: 62.5%;
}
.inactive {
    display: none;
}

        // VARIABLES //
$primerColor: red;
$segundoColor: green;
$tercerColor: blue;
$cuartoColor: yellow;
$quintoColor:orange;

//  Usando Mixin  //
@mixin botones{
    width: 12.8rem;
    height: 2.5rem;
    background-color: $quintoColor;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}
@mixin botones-mobile{
    width: 8rem;
    height: 2.5rem;
    background-color: $quintoColor;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}

button{
    @include botones;
}

//  Cuerpo  //
body{
    font-size: 1.3rem;
}
    header{
        width: 100%;
        display: flex;
        background: $segundoColor;
        justify-content: space-around;
        .icon-hamburger{
            display: flex;
            align-items: center;
            .imagen{
                display: flex;
                width: 2rem;
                margin: 0.5rem;
            }
        }
        .header-logo{
            img{
                border-radius: 50%;
                width: 5rem;
                padding: 0.5rem;
            }
        }
        .header-navbar{
            display: none;
            ul{
                display: none;
            }
        }
        .button-login{
            display: flex;
            align-items: center;
            .header-login{
                @include botones-mobile;
            }
        }
    }
    main{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .card{
            display: flex;
            display: inline-block;
            padding: 1rem;
            margin: 2rem;
            background: #fff;
            width: 28rem;
            img{
                width: 26rem;
                border-radius: 3rem;
            }
            p{
                margin-top: 1rem;
            }
            button{
                margin-top: 1rem;

            }
        }
    }
.footer-container {
    background-color: green;
    align-items: center;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    height: 40rem;
    justify-content: center;
    row-gap: 20px;
    form {
        display: flex;
        column-gap: 2rem;
        align-items: center;
        flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 1rem;
        width: 100%;
        justify-content: center;
        margin-top: 2rem;
        input {
            border: none;
            border-radius: 50px;
            height: 3.5rem;
            padding: 1rem;
            margin-bottom: 1rem;
        }
        button {
            @include botones-mobile();
            margin-bottom: 1rem;
        }
    }
    // .box-list{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
        .list {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;
            margin: -3rem 5rem 1.5rem 5rem;
            list-style: none;
            flex-wrap: wrap;
        }
        .listuno{
            margin-top: -5rem;
        }
    // }
    .box-icon{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        row-gap: 2rem;
        margin-top: -8rem;
        .icon{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            a{
                img{
                    width: 2rem;
                }
            }
            
        }
        .box-logo {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            img{
                width: 7rem;
                border-radius: 50%;
            }
        }
    }
    .copyright {
        margin-top: 30rem;
        position: absolute;
        display: inline-block;
        margin-bottom: -5rem;
    }
}


// @media (max-width: 900px){
//     .footer-container{
//         justify-content: space-evenly;
//         background-color: rgb(78, 20, 20);
//         }
//     }

//  Cuerpo  //
@media (min-width: 600px){
    body{
        font-size: 1.3rem;
        .icon-hamburger{
            display: none;
            .imagen{
                display: flex;
                width: 2rem;
                margin: 0.5rem;
            }
        }
        .header-logo{
            img{
                width: 10rem;
            }
        }
        .header-navbar{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                list-style: none;
                column-gap: 2rem;
                flex-wrap: wrap;
                justify-content: space-evenly;
                a{
                    text-decoration: none;
                    margin: 1rem;
                    color:$cuartoColor;
                }
                a:hover{
                    color:gold;
                }
            }
        }
        .footer-container{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            flex-wrap: unset;
            form{
                align-self: flex-start;
                padding-top: 5.5rem;
                margin-top: 1rem;
                margin-right: 3rem;
                justify-content: center;
                max-width: 25%;
            }
            // .box-list{
            //     column-gap: 4rem;
                .list{
                    row-gap: 4rem;
                    width: 25%;
                    margin: 6rem 0 auto 0;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                }
            // }
            .box-icon{
                display: flex;
                flex-direction: column-reverse;
                gap: 8rem;
                margin-top: -4rem;
                max-width: 25%;
                .icon{
                    flex-wrap: wrap;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    a{
                        min-width: 5rem;
                        margin-top: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                    }
                }
                .box-logo{
                    margin-top: -2rem;
                }
            }
        }
    }
    header{
        padding: 0 1rem;
    }
}