* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
html {
    font-size: 62.5%;
}
.inactive {
    display: none;
}

        // VARIABLES //
$primerColor: red;
$segundoColor: green;
$tercerColor: blue;
$cuartoColor: yellow;
$quintoColor:orange;

//  Usando Mixin  //
@mixin botones{
    width: 12.8rem;
    height: 2.5rem;
    background-color: $quintoColor;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}
@mixin botones-mobile{
    width: 8rem;
    height: 2.5rem;
    background-color: $quintoColor;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}

button{
    @include botones;
}

//  Cuerpo  //
body{
    font-size: 1.3rem;
}
    header{
        width: 100%;
        display: flex;
        background: $segundoColor;
        justify-content: space-around;
        .icon-hamburger{
            display: flex;
            align-items: center;
            .imagen{
                display: flex;    
                width: 2rem;
                margin: 0.5rem;
            }
        }
        .header-logo{
            img{
                border-radius: 50%;
                width: 5rem;
                padding: 0.5rem;
            }
        }
        .header-navbar{
            display: none;
            align-items: center;
            ul{
                display: none;
            }
        }
        .button-login{
            display: flex;
            align-items: center;
            .header-login{
                @include botones-mobile;
            }
        }
    }
    main{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .card{
            display: flex;
            display: inline-block;
            padding: 1rem;
            margin: 2rem;
            background: #fff;
            width: 28rem;
            img{
                width: 26rem;
                border-radius: 3rem;
            }
            p{
                margin-top: 1rem;
            }
            button{
                margin-top: 1rem;
    
            }
        }
    }
.footer-container {
    background-color: green;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 32rem;
    justify-content: center;
    row-gap: 20px;
    form {
        input {
            border: none;
            border-radius: 50px;
            height: 3.5rem;
            padding: 1rem;
        }
        button {
            @include botones-mobile()
        }
    }
    .box-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .list {
            display: flex;
            flex-direction: column;
            margin: 0 50px 15px 50px;
            list-style: none;
        }
    }
    .box-icon{
        .icon{
            img{
                width: 2rem;
            }
        }
        .box-logo {
            align-items: center;
            display: flex;
            justify-content: center;
            margin-top: 2rem;
            img{
                width: 7rem;
                border-radius: 50%;
            }
        }
    }
    .copyright {
        margin-top: 30rem;
        position: absolute;
    }
}



//  Cuerpo  //
@media (min-width: 600px){
    body{
        font-size: 1.3rem;
        .icon-hamburger{
            display: none;
            .imagen{
                display: flex;    
                width: 2rem;
                margin: 0.5rem;
            }
        }
        .header-logo{
            img{
                width: 10rem;
            }
        }
        .header-navbar{
            display: flex;
            align-items: center;
            ul{
                display: flex;
                list-style: none;
                column-gap: 2rem;
                a{
                    text-decoration: none;
                }
            }
        }
        .footer-container{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-evenly;
            form{
                align-self: flex-start;
                padding-top: 55px;
            }
            .box-list{
                column-gap: 40px;
                .list{
                    row-gap: 40px;
                }
            }
            .box-icon{
                display: flex;
                flex-direction: column-reverse;
                gap: 80px;
                margin-top: -4rem;
                .box-logo{
                    margin: 20px;
                }
            }
            .copyright{
                position: absolute;
                margin-top: 150px;
                right: 100px;
            }
        }
    }
}

