* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
html {
    font-size: 62.5%;
}
.inactive {
    display: none;
}

        // VARIABLES //
$primerColor: red;
$segundoColor: green;
$tercerColor: blue;
$cuartoColor: yellow;
$quintoColor:orange;


body{
    font-size: 1.3rem;
}
header{
    width: 100%;
    display: flex;
    background: $primerColor;
}

button{

}