* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

html {
  font-size: 62.5%;
}

.inactive {
  display: none;
}

button {
  width: 12.8rem;
  height: 2.5rem;
  background-color: orange;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}

body {
  font-size: 1.3rem;
}

header {
  width: 100%;
  display: flex;
  background: green;
  justify-content: space-around;
}
header .icon-hamburger {
  display: flex;
  align-items: center;
}
header .icon-hamburger .imagen {
  display: flex;
  width: 2rem;
  margin: 0.5rem;
}
header .header-logo img {
  border-radius: 50%;
  width: 5rem;
  padding: 0.5rem;
}
header .header-navbar {
  display: none;
  align-items: center;
}
header .header-navbar ul {
  display: none;
}
header .button-login {
  display: flex;
  align-items: center;
}
header .button-login .header-login {
  width: 8rem;
  height: 2.5rem;
  background-color: orange;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .card {
  display: flex;
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
  background: #fff;
  width: 28rem;
}
main .card img {
  width: 26rem;
  border-radius: 3rem;
}
main .card p {
  margin-top: 1rem;
}
main .card button {
  margin-top: 1rem;
}

.footer-container {
  background-color: green;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 32rem;
  justify-content: center;
  row-gap: 20px;
}
.footer-container form {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
}
.footer-container form input {
  border: none;
  border-radius: 50px;
  height: 3.5rem;
  padding: 1rem;
}
.footer-container form button {
  width: 8rem;
  height: 2.5rem;
  background-color: orange;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}
.footer-container .box-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-container .box-list .list {
  display: flex;
  flex-direction: column;
  margin: 0 50px 15px 50px;
  list-style: none;
}
.footer-container .box-icon .icon a {
  margin-left: 2rem;
}
.footer-container .box-icon .icon img {
  width: 2rem;
}
.footer-container .box-icon .box-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.footer-container .box-icon .box-logo img {
  width: 7rem;
  border-radius: 50%;
}
.footer-container .copyright {
  margin-top: 30rem;
  position: absolute;
}

@media (max-width: 1000px) {
  .footer-container {
    justify-content: space-evenly;
    background-color: aqua;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 1.3rem;
  }
  body .icon-hamburger {
    display: none;
  }
  body .icon-hamburger .imagen {
    display: flex;
    width: 2rem;
    margin: 0.5rem;
  }
  body .header-logo img {
    width: 10rem;
  }
  body .header-navbar {
    display: flex;
    align-items: center;
  }
  body .header-navbar ul {
    display: flex;
    list-style: none;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  body .header-navbar ul a {
    text-decoration: none;
  }
  body .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  body .footer-container form {
    align-self: flex-start;
    padding-top: 5.5rem;
  }
  body .footer-container .box-list {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  body .footer-container .box-list .list {
    row-gap: 4rem;
  }
  body .footer-container .box-icon {
    display: flex;
    flex-direction: column-reverse;
    gap: 8rem;
    margin-top: -4rem;
  }
  body .footer-container .box-icon a {
    margin-left: 1rem;
  }
  body .footer-container .copyright {
    position: absolute;
    margin-top: 15rem;
    right: 10rem;
  }
}/*# sourceMappingURL=style.css.map */