* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
}

html {
  font-size: 62.5%;
}

.inactive {
  display: none;
}

button {
  width: 12.8rem;
  height: 2.5rem;
  background-color: orange;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}

body {
  font-size: 1.3rem;
}

/* ------------------------- */
/*|         HEADER          |*/
/* ------------------------- */
header {
  width: 100%;
  display: flex;
  background: green;
  justify-content: space-around;
}
header .icon-hamburger {
  display: flex;
  align-items: center;
}
header .icon-hamburger .imagen {
  display: flex;
  width: 2rem;
  margin: 0.5rem;
}
header .header-logo img {
  border-radius: 50%;
  width: 5rem;
  padding: 0.5rem;
}
header .header-navbar {
  display: none;
}
header .header-navbar ul {
  display: none;
}
header .header-navbar ul select {
  background: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.button-login {
  margin-top: 1.5rem;
  z-index: 1;
}
.button-login .header-login {
  height: 2.5rem;
  background-color: orange;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
}
.button-login .button-login-mobile {
  background-color: green;
  position: absolute;
  top: 4.7rem;
  height: 10rem;
  border-radius: 1rem;
  width: 13rem;
}
.button-login .button-login-mobile form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}
.button-login .button-login-mobile form input {
  width: 10rem;
  border-radius: 1rem;
  padding-left: 1rem;
}
.button-login .button-login-mobile form button {
  width: 10rem;
}
.button-login .box-account .form-perfil {
  background-color: green;
  position: absolute;
  top: 4.7rem;
  height: 8rem;
  border-radius: 1rem;
  width: 13rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
.button-login .box-account .form-perfil a {
  text-decoration: none;
}
.button-login .box-account .form-perfil .form-btn__perfil {
  width: 10rem;
}

.icon-hamburger-mobile {
  width: 100%;
  background: green;
}
.icon-hamburger-mobile ul {
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-hamburger-mobile ul a {
  display: block;
  text-decoration: none;
  color: orange;
}
.icon-hamburger-mobile ul li {
  list-style: none;
  font-size: 1.6rem;
  display: block;
  padding: 3rem;
  border-bottom: 0.1rem solid;
}

.perfil .box-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid;
  border-radius: 2rem;
  margin: 2rem;
}
.perfil .box-perfil .perfil-photo {
  margin: 2rem 0 0 2rem;
}
.perfil .box-perfil form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  margin: 2rem 2rem 0 2rem;
}
.perfil .box-perfil form .button-save {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-around;
}
.perfil .box-perfil form .button-save button {
  width: 7rem;
}

.account-perfil .account-box-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid;
  border-radius: 2rem;
  margin: 2rem;
  display: flex;
}
.account-perfil .account-box-perfil .perfil-photo {
  margin: 2rem;
}
.account-perfil .account-box-perfil .box-information {
  margin: 2rem;
}
.account-perfil .account-box-perfil .box-information p {
  margin: 0 2rem 1rem 0;
}

/* ------------------------- */
/*|        CAROUSEL         |*/
/* ------------------------- */
.categories__title {
  color: green;
  font-size: 1.6rem;
  position: absolute;
  padding-left: 3rem;
  width: 100%;
}

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 3rem;
  position: relative;
}

.carousel__container {
  display: table-cell;
  white-space: nowrap;
  margin: 7rem 0rem;
  padding-bottom: 1rem;
}

.carousel-item {
  background-color: palevioletred;
  width: 20rem;
  height: 25rem;
  border-radius: 2rem;
  overflow: hidden;
  margin-right: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(10rem, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.3);
  opacity: 1;
}

.carousel-item__img {
  width: 20rem;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 1rem;
  opacity: 0;
  transition: 450ms opacity;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
}

.carousel-item__details:hover {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}

::-webkit-scrollbar:hover {
  background: #b3b3b3;
  box-shadow: 2px1pxrgba 0, 0, 0, 0.1;
}

::-webkit-scrollbar:hover:active {
  background: #999;
}

/* ------------------------- */
/*|          MAIN           |*/
/* ------------------------- */
.main-container .main-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-container .main-section .card {
  display: flex;
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
  background: #fff;
  width: 28rem;
}
.main-container .main-section .card img {
  width: 26rem;
  height: 40%;
  border-radius: 3rem;
}
.main-container .main-section .card p {
  margin-top: 1rem;
}
.main-container .main-section .card figure {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .main-section .card figure img {
  width: 3rem;
}

.ofertas-box h1 {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
}
.ofertas-box p {
  margin: 2rem 4rem 2rem 4rem;
}

.temporada-box h1 {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
}
.temporada-box p {
  margin: 2rem 4rem 2rem 4rem;
}

.nosotros-box h1 {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
}
.nosotros-box p {
  margin: 2rem 4rem 2rem 4rem;
}

.local-box h1 {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
}
.local-box div {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  background-color: green;
  border-radius: 2rem;
}
.local-box div div {
  flex-direction: column;
  border-radius: 1rem;
  background-color: orange;
}
.local-box div div p {
  margin: 1rem;
}
.local-box div div a {
  text-decoration: none;
  margin: 1rem 0 1rem 1rem;
  color: black;
}
.local-box div div iframe {
  width: 20rem;
  height: 15rem;
}

.politicas-box h1 {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem 0 2rem;
}
.politicas-box p {
  margin: 2rem 4rem 2rem 4rem;
  font-size: 1.6rem;
}
.politicas-box a {
  text-decoration: none;
}

.footer-container {
  background-color: green;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 40rem;
  justify-content: center;
  row-gap: 20px;
}
.footer-container form {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 1rem;
  width: 100%;
  justify-content: center;
  margin-top: 2rem;
}
.footer-container form input {
  border: none;
  border-radius: 50px;
  height: 3.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.footer-container form button {
  height: 2.5rem;
  background-color: orange;
  font-size: 1rem;
  border-radius: 1rem;
  border: none;
  margin-bottom: 1rem;
}
.footer-container .list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: -3rem 5rem 1.5rem 5rem;
  list-style: none;
  flex-wrap: wrap;
}
.footer-container .listuno {
  margin-top: -5rem;
}
.footer-container .box-icon {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 2rem;
  margin-top: -8rem;
}
.footer-container .box-icon .icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-container .box-icon .icon a img {
  width: 2rem;
}
.footer-container .box-icon .box-logo {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.footer-container .box-icon .box-logo img {
  width: 7rem;
  border-radius: 50%;
}
.footer-container .copyright {
  margin-top: 30rem;
  position: absolute;
  display: inline-block;
  margin-bottom: -5rem;
}

@media (min-width: 600px) {
  body {
    font-size: 1.3rem;
  }
  body .icon-hamburger {
    display: none;
  }
  body .icon-hamburger .imagen {
    display: flex;
    width: 2rem;
    margin: 0.5rem;
  }
  body .header-logo img {
    width: 10rem;
  }
  body .header-navbar {
    display: flex;
    align-items: center;
  }
  body .header-navbar ul {
    align-items: center;
    display: flex;
    list-style: none;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  body .header-navbar ul a {
    text-decoration: none;
    margin: 1rem;
    color: yellow;
  }
  body .header-navbar ul a:hover {
    color: gold;
  }
  body .button-login {
    margin-top: 4rem;
  }
  body .button-login .button-login-mobile {
    top: 7rem;
    height: 10.3rem;
    border: 0px;
  }
  body .button-login .box-account .form-perfil {
    top: 7rem;
  }
  body .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: unset;
  }
  body .footer-container form {
    align-self: flex-start;
    padding-top: 5.5rem;
    margin-top: 1rem;
    margin-right: 3rem;
    justify-content: center;
    max-width: 25%;
  }
  body .footer-container .list {
    row-gap: 4rem;
    width: 25%;
    margin: 6rem 0 auto 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  body .footer-container .box-icon {
    display: flex;
    flex-direction: column-reverse;
    gap: 8rem;
    margin-top: -4rem;
    max-width: 25%;
  }
  body .footer-container .box-icon .icon {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  body .footer-container .box-icon .icon a {
    min-width: 5rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  body .footer-container .box-icon .box-logo {
    margin-top: -2rem;
  }
  header {
    padding: 0 1rem;
  }
}/*# sourceMappingURL=style.css.map */